body {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 800;
    background-color: #1a1a1a; 
    color: white; 
  }
  
  .hero-image {
      font-family: "Bebas Neue", sans-serif;
      font-weight: 800;
      background: url('/imgs/GettyImages-1094977950.jpg') no-repeat center center; 
      background-size: cover;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white; 
      text-shadow: 4px 4px 4px rgba(50, 51, 145, 0.7);
  }
  
  .card-custom {
      border: 4px solid #1e3e61; 
      background-color: #333333; 
      color: white; 
  }
  
  .card-header-custom {
      background-color: #000000; 
      color: white; 
  }
  
  .card-body-custom {
      background-color: #222222; 
      color: white; 
  }
  
  .navbar {
      background-color: #000000; 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .nav-link {
      color: rgb(255, 255, 255); 
      transition: color 0.3s; 
  }
  
  .nav-link:hover {
      color: #0c3664; 
  }
  

  footer {
      background-color: #000000; 
      color: white; 
  }
  
  footer a {
      color: white; 
      text-decoration: none; 
      transition: color 0.3s;
  }
  
  footer a:hover {
      color: #d4d4d4; 
  }
  

  @media (max-width: 768px) {
      .hero-image {
          height: 300px; 
      }
  }
  